fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
requests
selenium
beautifulsoup4
authlib
python-jose
httpx
itsdangerous
bcrypt==3.2.0
passlib[bcrypt]
pydantic[email]
email_validator
azure-storage-blob
python-multipart